@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 9px;
    /* Set the width of the scrollbar */
    height: 9px;

}

/* Track (the background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #1212129e;
    border-radius: 3px;

    /* Set the color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #59c46da2;
    border-radius: 3px;
    /* Set the color of the thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #59c46d;
    /* Change color of the thumb on hover */
}